:root {
    --main-bg-color: #faf4f0;
    --mercury: #e5e5e5;
    --white: #ffffff;
    --black: #000000;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.banner,
.document,
.footer {
    background-color: var(--main-bg-color);
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner__title {
    margin: 0;
}

.create-buttons {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.create-buttons li {
    margin-right: 1.5rem;
}

.create-buttons li:last-child {
    margin-right: 0;
}

.create-button {
    background-color: var(--mercury);
    border: none;
    border-radius: 0.8rem;
    padding: 0.5rem;
}

.create-button:hover {
    cursor: pointer;
}

.document {
    position: relative;
    height: 100%;
    overflow-y: scroll;
}

.document:before {
    content: '';
    position: absolute;
    top: 0;
    left: 3%;
    width: 94%;
    height: 1px;
    background: var(--black);
}

.footer {
    width: 100%;
    height: 3rem;
    text-align: center;
    border-top: 1px solid var(--black);
}

.footer p {
    margin: 0;
}

/* items */
.video__title,
.image__title,
.note__title {
    font-size: 1.3em;
    font-weight: 400;
}
.note__content {
    font-size: 1em;
    font-weight: 300;
}
